
body {
    font-size:10px;
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    
}
main {
    
}

/* Header styling */
header {
    background-color: purple;
    width:100%;
}
    
.nav-items {
    color:whitesmoke;
    font-size:1.4rem;
    margin:1.3rem;
    text-decoration:none;
    text-align:center;
}
.nav-container {
    display:flex;
    justify-content: space-between;
    align-items:center
}

/* About me styling */

.about-me {
    background-image: url(../Images/background-img-meadow.png);
    width:100%;
    height:25rem;
    background-position: center;
    background-size:cover;
    color:whitesmoke;
    

}

.img-me {
    border-radius:50%;
    border: 6px solid rgb(125, 33, 99);
    width: 15rem;
    height: 15rem;
    margin:10px;
    position:absolute;
    left:20%;

    

    
}

.img-title {
    justify-content: center;
    position:relative;
    color:black;
    font-size:2.4rem;
    font-family:'Courier New', Courier, monospace;
    
    
    
}

.img-title h1 {
    letter-spacing: 0.3rem;
    text-transform: uppercase;
}

.info-para {
    font-size: 1.3rem;
    text-align: center;
    margin-left:800px;
    position:absolute;
    right:40px;
    bottom:50px;
    background-color:purple;
    width:fit-content

   

}
    .info-para p {
    width:22rem;
}

/* My work styling */

.my-work {
    background-color:blueviolet;
    height:40rem
}

/* application styling */

.project-container {
    position:relative;
    
}
.project-img {
    width:15rem;
    height:18rem;
    border:dashed 5px blue
    

}

.project-name {
    background-color:green;
    width:fit-content;
    font-size:1.8rem;
    font-weight:300;
    position:absolute;
    top:0;
    left:0;
}
.project-desc {
    background-color: aqua;
    width:fit-content;
    font-size:1.6rem;
    font-weight:200;
    position:absolute;
    bottom:0;
    left:0;
   

  

    
}