:root {
  --light-cornflower-blue: rgb(157, 205, 227);
  --blue-green: #219ebcff;
  --prussian-blue: #023047ff;
  --selective-yellow: #ffb703ff;
  --tangerine: #fb8500ff;
  --aliceblue: aliceblue;
}

body {
  font-size: 1.5rem;
  margin: 0rem;
  background-color: var(--light-cornflower-blue);
}

/* font-family: 'Fredericka the Great', cursive;
font-family: 'Galada', cursive;
font-family: 'Roboto Flex', sans-serif;
font-family: 'Rubik Microbe', cursive;
font-family: 'Varela Round', sans-serif; */

/* Navbar styling */

.topnav {
  overflow: hidden;
  background-color: var(--prussian-blue);
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: 0.3rem solid var(--tangerine);
}

.topnav a {
  float: left;
  color: var(--blue-green);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: var(--selective-yellow);
  color: var(--yellow);
}

.myIcons {
  margin-right: 0.5rem;
}

.topnav .icon {
  display: none;
}

/* Hero styling */

.hero-div {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: var(--light-cornflower-blue);
  color: var(--prussian-blue);
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 0.3rem dashed var(--tangerine);
}

.text-div h2 {
  font-family: "Fredericka the Great";
  font-size: 50px;
  color: var(--yellow);
  letter-spacing: 0.1em;
}

.text-div {
  text-align: right;
  letter-spacing: 0.1em;
}

.imgOfMe {
  height: 16rem;
  width: 14rem;
  border-radius: 100%;
  border: solid 0.5rem var(--tangerine);
  position: absolute;
  left: 30px;
  top: 70px;
}

/* contact details styling */

.contact-details {
  margin-left: 2rem;
  border-bottom: 0.3rem dashed var(--tangerine);
}

.contact-button {
  background-color: var(--tangerine);
  color: aliceblue;
  font-size: 20px;
  text-transform: capitalize;
  border-radius: 8%;
  margin: 0.6rem;
  justify-content: center;
}

.contact-title {
  font-family: "Fredericka the Great";
  font-size: 50px;
  color: var(--prussian-blue);
  letter-spacing: 0.1em;
  margin-left: 1rem;
}

/* My work styling */

.my-work-title {
  font-family: "Fredericka the Great";
  font-size: 50px;
  color: var(--prussian-blue);
  letter-spacing: 0.1em;
  margin-left: 1rem;
}

.work-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.776);
  max-width: 300px;
  margin-top: 2rem;
  margin-left: 2rem;
  text-align: center;
  font-family: arial;
}

.card button {
  border: none;
  outline: 0;
  padding: 8px;
  color: var(--aliceblue);
  background-color: var(--prussian-blue);
  text-align: center;
  cursor: pointer;
  width: 80%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}

/* footer styling */

.my-footer {
  border-top: 0.3rem dashed var(--tangerine);
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.lead {
  font-family: "Galada";
  font-size: 20px;
  color: var(--prussian-blue);
  letter-spacing: 0.1em;
  margin-left: 1rem;
  margin-right: 1rem;
}

.link {
  text-decoration: none;
  color: white;
}
