root {


}


body {
    font-size:10px;
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    
}
main {
    
}

/* Header styling */
header {
    background-color: purple;
    width:100%;
}
    
.nav-items {
    color:whitesmoke;
    font-size:1.4rem;
    margin:1.3rem;
    text-decoration:none;
    text-align:center;
}
.nav-container {
    display:flex;
    justify-content: space-between;
    align-items:center
}

/* About me styling */

.about-me {
    background-image: url(../Images/background-img-meadow.png);
    width:100%;
    height:25rem;
    background-position: center;
    background-size:cover;
    color:whitesmoke;
    

}

.img-me {
    border-radius:50%;
    border: 6px solid rgb(125, 33, 99);
    width: 15rem;
    height: 15rem;
    margin:10px;
    position:absolute;
    left:20%;

    

    
}

.img-title {
    justify-content: center;
    position:relative;
    color:black;
    font-size:2.4rem;
    font-family:'Courier New', Courier, monospace;
    margin:2rem;
    
    
    
}

.img-title h1 {
    letter-spacing: 0.3rem;
    text-transform: uppercase;
}

.info-para {
    font-size: 1.3rem;
    text-align: center;
    margin-left:800px;
    position:absolute;
    right:40px;
    bottom:50px;
    background-color:purple;
    width:fit-content

   

}
    .info-para p {
    width:22rem;
}

/* My work styling */

.my-work-container {
    background-color:rgb(157, 127, 185);
    height:40rem;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
}

.my-work h1 { 
justify-content: center;
position:relative;
color:black;
font-size:2.4rem;
font-family:'Courier New', Courier, monospace;
}

/* application styling */

.project-container {
    position:relative;
    width:20rem;
    margin:2rem;
    border:dashed 5px rgb(0, 0, 0)
}
.project-img {
    width:100%;
    height:100%;
    object-fit:contain;
   
}


.project-name {
    background-color:rgb(133, 54, 127);
    width:fit-content;
    font-size:1.8rem;
    font-weight:300;
    position:absolute;
    top: 5px;
    left:5px;
    padding:0.2rem;
    letter-spacing:0.3rem;
}


/* Contact me styling */

.contact-me {
    font-size: 3rem;
    color: blue;
    background-color: azure;
}